<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://market-screener.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/58ba76ff-60ed-43ab-8fc0-fcc4fe21e7b7/resourceGroups/Grupa_zasobow_1/providers/Microsoft.Web/sites/market-screener</ResourceId>
    <UserName>$market-screener</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://market-screener.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>